<%= error_messages_for(@section)%>
<table summary="Section form fields">
  <tr>
    <!--<th>Position</th>-->
    <th><%= f.label(:position)%></th>
    <td><%= f.text_field(:position) %></td>
  </tr>

  <tr>
    <!--<th>Page_ID</th>-->
    <th><%= f.label(:page_id, "Page ID")%></th>
    <td><%= f.text_field(:page_id) %></td>
  </tr>

  <tr>
    <!--<th>Name</th>-->
    <th><%= f.label(:name, "Name")%></th>
    <td><%= f.text_field(:name) %></td>
  </tr>

  <tr>
    <!--<th>Content Type</th>-->
    <th><%= f.label(:content_type)%></th>
    <td>
      <%= f.radio_button(:content_type, 'text') %> Text
      <%= f.radio_button(:content_type, 'HTML') %> HTML
    </td>
  </tr>
  <tr>
    <!--<th>Content</th>-->
    <th><%= f.label(:content)%></th>
    <td><%= f.text_area(:content, :size => '40*10') %></td>
  </tr>

  <tr>
    <!--<th>Visible</th>-->
    <th><%= f.label(:visible)%></th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
</table>