<h1>DemoController#index_view1</h1>
<p>Hello world!</p>


<%= " The ID is "  %>
<%= @id %>

<br/>

<%= " The Page is "  %>
<%= @page %>

<br/>

<%= " Next Page is "  %>
<%= @page +1 %>



<hr/>

<%= params.inspect %>
